propel:

  sf_simple_forum_category:
    _attributes:   { phpName: sfSimpleForumCategory, package: plugins.sfSimpleForumPlugin.lib.model }
    id:
    name:          varchar(255)
    stripped_name: varchar(255)
    description:   longvarchar
    rank:          integer
    created_at:

  sf_simple_forum_forum:
    _attributes:   { phpName: sfSimpleForumForum, package: plugins.sfSimpleForumPlugin.lib.model }
    id:
    name:          varchar(255)
    description:   longvarchar
    rank:          integer
    category_id:   { type: integer, foreignTable: sf_simple_forum_category, foreignReference: id, onDelete: cascade }
    created_at:
    updated_at:
    # performance enhancers
    stripped_name: { type: varchar, size: 255, index: unique }
    latest_post_id: { type: integer, foreignTable: sf_simple_forum_post, foreignReference: id, onDelete: setnull }
    nb_posts:      bigint
    nb_topics:     bigint
    
  sf_simple_forum_topic:
    _attributes:   { phpName: sfSimpleForumTopic, package: plugins.sfSimpleForumPlugin.lib.model }    
    id: 
    title:         varchar(255)
    is_sticked:    { type: boolean, default: false }
    is_locked:     { type: boolean, default: false }
    forum_id:      { type: integer, foreignTable: sf_simple_forum_forum, foreignReference: id, onDelete: cascade }
    created_at:
    updated_at:
    # performance enhancers
    latest_post_id: { type: integer, foreignTable: sf_simple_forum_post, foreignReference: id, onDelete: setnull }
    user_id:       { type: integer, foreignTable: sf_guard_user, foreignReference: id, onDelete: setnull }
    stripped_title: varchar(255)
    nb_posts:      { type: bigint, default: 0 }
    nb_views:      { type: bigint, default: 0 }
  
  sf_simple_forum_post:
    _attributes:   { phpName: sfSimpleForumPost, package: plugins.sfSimpleForumPlugin.lib.model }    
    id: 
    title:         varchar(255)
    content:       longvarchar
    topic_id:      { type: integer, foreignTable: sf_simple_forum_topic, foreignReference: id, onDelete: cascade } 
    user_id:       { type: integer, foreignTable: sf_guard_user, foreignReference: id, onDelete: cascade }
    created_at:
    # performance enhancers
    forum_id:      { type: integer, foreignTable: sf_simple_forum_forum, foreignReference: id, onDelete: cascade }
    author_name:   varchar(255)
    
  sf_simple_forum_topic_view:
    _attributes:   { phpName: sfSimpleForumTopicView, package: plugins.sfSimpleForumPlugin.lib.model }
    user_id:       { type: integer, foreignTable: sf_guard_user, foreignReference: id, onDelete: cascade, primaryKey: true }
    topic_id:      { type: integer, foreignTable: sf_simple_forum_topic, foreignReference: id, onDelete: cascade, primaryKey: true }
    created_at:
